*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #eaeaea;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.messages{
    border: 1px solid black;
}
